In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\Administrator\Credit_card_fault\check.csv')
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount'],
      dtype='object')

In [65]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,24,1.237429,0.061043,0.380526,0.761564,-0.359771,-0.494084,0.006494,-0.133862,0.438810,...,-0.066351,-0.245682,-0.530900,-0.044265,0.079168,0.509136,0.288858,-0.022705,0.011836,17.28
1,133016,0.029844,-0.739818,0.148791,-1.290233,0.741680,-1.700776,0.238743,-0.483216,-0.913369,...,0.275350,0.145470,0.363077,0.147000,0.041696,-0.658103,-0.363139,-0.087103,-0.112570,15.00
2,26,2.113776,0.053331,-1.209256,0.456518,0.279447,-0.768088,0.086763,-0.379156,1.853023,...,-0.236102,-0.483513,-1.001436,0.264747,-0.711990,-0.224696,0.199710,-0.097508,-0.073031,1.98
3,133066,1.024278,-0.160675,1.455757,1.868874,-0.763373,0.825055,-0.787853,0.389999,2.405920,...,-0.308478,-0.511560,-0.832069,0.119667,0.132031,0.312974,-0.574659,0.054904,0.012112,10.83
4,138586,-2.986939,2.111087,-1.672516,-2.101711,-1.381548,-1.213100,-0.588836,1.827454,0.214092,...,-0.656567,0.341046,0.522656,0.080944,1.237921,0.007103,0.661396,-0.728052,-0.089682,2000.00

In [69]:
df.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
dtype: int64

In [4]:
%%html
<h1>INPUT TAKEN</h1>
<link rel="stylesheet" href="style.css">